<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnic Documentation</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav id="navbar">
        <header id="cab-intro" class="sub-titulos">Introduccion a flask</header>
        <ul>
            <li>
                <a class="nav-link" href="#Que_es_flask">Que es flask</a>
            </li>
            <li>
                <a class="nav-link" href="#Por_qué_usar_flask.">Por qué usar flask.</a>
            </li>
            <li>
                <a class="nav-link" href="#Primeros_pasos_en_flask">Primeros pasos en flask</a>
            </li>
            <li>
                <a class="nav-link" href="#Como_inicializar_el_servidor">Como inicializar el servidor</a>
            </li>
            <li>
                <a class="nav-link" href="#Rutas_y_Parámetros">Rutas y Parámetros</a>
            </li>
            <li>
                <a class="nav-link" href="#Validación_de_Rutas">Validación de Rutas</a>
            </li>
            <li>
                <a class="nav-link" href="#Template">Template</a>
            </li>
            <li>
                <a class="nav-link" href="#Etiquetas_en_template">Etiquetas en template</a>
            </li>
            <li>
                <a class="nav-link" href="#Herencias_de_plantillas">Herencias de plantillas</a>
            </li>
        </ul>

    </nav>
    
   <main id="main-doc">

    <section class="main-section" id="Que_es_flask">
       <header class="sub-titulos">Que es flask</header> 

        <p> flask es en pocas palabras un micro framework que entre sus muchas ventajas es que posee una curva de aprendizaje baja, no posee tantas herramientas y librerías precargadas, mejor aún uno va a decidir que herramientas usar y cuáles no, y su adaptación a proyectos es mucho más sencilla pidiendo crear paginas profesionales o proyectos grandes. No por ser un micro framework nos limitara a tareas sencillas.</p>
        <p>ventajas de trabajar con flask</p>
        <ul>
            <li>Baja curva de aprendizaje</li>
            <li>rapidez en el desarrollo </li>
            <li>un micro server para montar en cualquir plataforma</li>
            <li>puedes adaptar a las necesidades de tu proyecto</li>
        </ul>

    </section>

    <section class="main-section" id="Por_qué_usar_flask.">
        <header class="sub-titulos">Por qué usar flask.</header> 
    
        <p> Si eres nuevo en el mundo del desarrollo web y más, si te introduces en el back-end se te hará mas amigable el desarrollo con Flask. flask al tener una curva de aprendizaje mucho más baja que otros framework como Django es bueno para comenzar en el desarrollo back-end , evitando la frustración de no entender lo que ocurre con el proyecto o como cuando se realiza una implementación , o más aun como comenzar a correr nuestros proyectos del lado del servidor.
        Flask entre sus muchas virtudes está el poder manejar bases de datos, ORM , template , cokies, páginas web, etc. Su único requisito es tener domino de HTML, CSS y Python.</p>
            
        <p> por que usar el microframework flask</p>
            <ul>
                <li>entorno minimalista</li>
                <li>rapido para implementar</li>
                <li>de adapta a proyecto tanto grandes como pequenos</li>
                <li>A diferencia de Django podemos usar otras herramientas</li>
            </ul>

    </section>

    <section class="main-section" id="Primeros_pasos_en_flask">
        <header class="sub-titulos">Primeros pasos en flask</header> 
    
        <p>Instalación:   </p>  
        <p>Comenzando con el proceso de instalación, toda la documentación está en la página oficial del proyecto Flask en la Url: https://flask.palletsprojects.com/en/1.1.x/  , en esta página nos muestra los pasos de instalación y los métodos de los diversos sistemas operativos en los cuales estaremos trabajando , ya sea por la por PIP o por la instalación de máquinas virtuales como virtualenv . todo estará supeditado a lo que queremos hacer.
        Es importante destacar que si estamos trabajando en un entorno Unix o OS, tanto Python como PIP estarán preinstalados en la versiones más recientes de tu sistema Operativo. En cambio sí nos encontramos en un entorno Windows tendremos que instalar Python como pip , pero si instalamos Python en sus versiones más actuales como la Python 3.6 en adelante solo con instalar Python bastara ya que pip se encuentra dentro del propio repositorio, en cambio sí tendremos que bajar cualquier extensión para crear entornos virtuales.</p> 
        <p>
        Ya al completar el proceso de instalación entraremos a la terminal y ejecutaremos el intérprete de Python. Y escribiremos el siguiente comando para cerciorarnos que esta todo correcto.
        </p>
        <pre>
          <code>
            import flask
        </code>   
        </pre>
       
        
        <p> Si no arroja ningún error quiere decir que tendremos instalado el paquete de flask.
        Ahora aremos nuestro primer hola mundo de flask. para crear nuestro primer proyecto.
        Cerramos el entorno de Python y creamos una nueva carpeta donde crearemos nuestro primer proyecto, ahora creamos un archivo con el nombre HolaMundoFalsk.py y dentro escribiremos en siguiente código.</p>
       
        <pre><code>  
            Import flask  from Flask 
            app = Flask(__name__)   #instanciamos la siguiente clase.
            @app.route('/')
            def index():
               Return 'Hola Mundo'
            app.run()
        </code></pre>

        <p>
        En el siguiente código importamos la librería flask, posteriormente instanciamos un objetos desde la clase Flask mesta lleva por defecto el parametro __name__ , y al instanciarla con la variable app. Esta variable app se convierte en un objeto de la clase flask y tendrá todos los métodos de la librería, a continuación usaremos un decorador (@) para reescribir una función de la librería en este caso route , se realiza esta reescritura de método para asignarle rutas a la llamada del navegador asignándole (‘/’) como dirección, de lo contrario no tendría ninguna ruta y no saldría nada en nuestro navegador.  Y dentro rescribimos el nuevo método lo que retornara en pantalla.
        Posteriormente escribimos el método run de la librería de flask para activar un mini servidos, finalizamos guardando los cambios en el archivo. Ejecutamos el archivo HolaMundoFalsk.py y en nuestro navegado ejecutamos , por defecto flask activa el servidor en el puerto 5000 .
        </p>

        <p>repasando los paso para crear primer proyecto</p>
            <ol>
                <li>importar la libreria flask</li>
                <li>intanciar la clase Flaks a un objeto</li>
                <li>usar un decorador para modificar el objeto al atributo .route</li>
                <li>asignar la ruta , esta se coloca como parametro en .route</li>
                <li>definir el metodo con el nombre de nuestro template</li>
                <li>ejecutar el servidor .run</li>
            </ol>
        
    </section>

    <section class="main-section" id="Como_inicializar_el_servidor">
        <header class="sub-titulos">Como inicializar el servidor</header>
        
        <p>
        Continuando con la información anterior. nuestro servidor se inicializa con el método run o como se vio en el código 
        </p>
        <pre>
        <code>
            app.run()
        </code>
        </pre>
      
        <p>
        Esto ejecuta el server que se inicia en el puerto 5000 por defecto. Nosotros podemos cambiar el puerto por otro al que queremos utilizar, en este caso escribiendo en los parámetros del método la siguiente notación 
        </p>
        <pre><code>
            app.run(port = [nuevo_puerto])  # colocaremos 6000 para ejemplos
        </code></pre>
                
        <p>
        Se recomienda colocar puertos validos desde el 1600 en adelante, los puestos anteriores están ocupados por otros servicios. Colocamos en nuestro navegador localhost:6000 y veremos la salida de “Hola mundo”
        Otra opción que tendremos para poder ir desarrollando es colocar un modo de escucha del servidor para que los cambio se realicen de forma inmediata cuando se realiza algún cambios en los archivos. Este es el modo debug y lo activaremos de la siguiente forma.
        </p>
        <pre>
            <code>
            app.run(debug = True , port = 6000)
            </code>  
        </pre>
        
        <p>
        La ventaja de tener este modo activo es que no es necesario activa y desactivar el servidor cada vez que se realice un cambio en el archivo.
        Agregaremos por convención y buenas practicas la siguiente línea para que el código que Python esté al tanto de si se carga el código sin errores pueda ejecutar el código.
        </p>
        <pre>
            <code>
            If __name__ == '_main_':
            </code>
        </pre>
        
            <p>Nos quedario el condigo de la siguiente forma.</p>
        <pre>
            <code>
        Import flask  from Flask 
        app = Flask(__name__)   #instanciamos la siguiente clase.
        @app.route('/')
        def index():
            Return 'Hola Mundo'
        If __name__ == '_main_':
            app.run(debug = True , port = 6000)
            </code>   
        </pre>
        
        <p>repando un poco</p>
            <ul>
                <li>activamos el server mediante el metodo .run()</li>
                <li>por defecto el puerto assignado es el port = 5000</li>
                <li>activasmo el modo de tes ejecutando la propiedad debug en .run(debug = True)</li>
                <li>podemos colocar un nuevo puerto de conexion dentro de .run(debug = True, port = [numero_de_puerto]) </li>
            </ul>


    </section>

    <section class="main-section" id="Rutas_y_Parámetros">
        <header class="sub-titulos">Rutas y Parámetros</header>      
        <p>
        Como vimos en el código anterior solo tenemos una única ruta ('/') . pero como todo proyecto necesitaremos más rutas. podremos agregar tantas rutas como necesitemos, ejemplo
        </p>
        <pre>
        <code>
            @app.route('/')
            Def index():
                Return 'Hola Mundo' 
            @app.route('/Hola')       # ruta nuevas 
            Def Hola():
                Return 'nuevos Hola mundo'
        </code>
        </pre>

        <p>
        Podremos hacer tantas rutas como queramos, cada ruta debe tener su métodos respectiva, nunca debemos repetir el nombre de los métodos
        </p>

        paso para hacer nuevas rutas
        <ul>
            <li>a nuetra objeto aplicamos un decorador con una nueva ruta con el metodo .route()</li>
            <li>dentro del metodo .route() colocamos el nombre de la ruta</li>
            <li>con el mismo nombre que identificasmos creamos su metodo </li>
        </ul>

        <p>
        En las rutas podemos recibir parámetros ya sea cuando ágamos una petición o llenemos un formulario entre otras situaciones, para esto debemos importar la librería request
        </p>
        <pre>
            <code>
            from flask import request
            </code>            
        </pre>

        <p>
        y agregar en el método la variable que va a recibir el parámetro por el método.
        ejemplo:
        </p>
        <pre>
            <code>
        @app.route('/Hola')       # ruta nuevas 
        def Hola():	  # localhot:6000/Hola?param=(parametros)
            param = request.args.get('parametro1', 'no tiene parametros')
            Return 'El parámetro pasado es {}'.formt(param)
            </code>
        </pre>
      
        <p>
        Como se puede observar al llamar a una ruta va a recibir una consulta de método donde obtendrá en este caso un parámetro llamado ‘paramatro1’ el cual su valor se alojara en la variable param y al retornar un valor saldrá en pantalla del navegador “El parámetro pasado es (parametros) ”
        De lo contrario al no recibir algún parámetro mostrara en pantalla por defecto “El parámetro pasado es no tiene parámetros” 
        Para agregar mas parámetros solo hay que agregar otras capturas de parámetros con el nombre de la variable. Ejemplo .
        </p>
        <pre>
            <code>
                param_2= request.args.get('parametro2', 'no tiene parametros')
            </code>
        </pre>

        <p>
        Y podremos hacer una prueba mandando la información desde el navegador y modificando la ruta de la siguiente manera. Ejemplo 
        </p>
        <pre>
            <code>
        @app.route('/Hola')     
        def Hola():	  
            param = request.args.get('parametro1', 'no tiene parametros') # parámetro 1
            param_2= request.args.get('parametro2', 'no tiene parametros') # parametro2
            Return ‘El parámetro pasado es {} y el segundo parámetro es {} ’.formt(param, param_2)
            </code>   
        </pre>
        
        <p>
        las variables están separadas por el '&'
        </p>
        <pre>
            <code>
            http://localhost:6000/Hola? parametro1 =Paquita_ &parametro2=La_del_barrio
            </code>    
        </pre>
        

    </section>

    <section class="main-section" id="Validación_de_Rutas">
        <header class="sub-titulos">Validación de Rutas</header>
        
        <p>        
        Ya vimos como recibir parámetros, pero hay otra forma de recibir parámetros en una ruta completa sin el uso del símbolo ? en la llamada al navegador,  y es por medio de una ruta directa . ejemplo
        </p>
        <pre>
            <code>
            http://localhost:6000/Hola/variable1/variable2
            </code>
        </pre>
        
        <p>
        para poder lograr eso debemos modificar la función decoradora ejemplo.
        </p>

        <pre>
            <code>
                Import flask  from Flask 
                from flask import request
                app = Flask(__name__)   
                
                @app.route('/Hola/') 
                @app.route('/Hola/<nombre>/')     
                @app.route('/Hola/<nombre>/<apellido>')     
                    def Hola( nombre='valor por defecto',apellido='otro valor por defecto'):
                    return 'El parámetro es : {}  {}'. Format (nombre , apellido)	  
                If __name__ == '_main_':
                    app.run(debug = True , port = 6000) 
            </code>    
        </pre>
        
        
        <p>
        Esto nos dará una respuesta del servidor .
        
        Pero tendremos un inconveniente ya que solos recibe string , para trabajar con numero deberemos parsear las variables de entrada pero es muy probable que esto nos cause error. Para esto se puede solucionar indicando que tipo de variable va a recibir como parámetro esto se logra colocando  en la definición de parámetros que tipo recibe ejemplo
        </p>

        <pre>
            <code>
                @app.route(‘/Hola/<nombre>/<int:numero >’)  
            </code>
        </pre>
        
        <p>
        Como observamos cambiamos la variable apellido por una nueva variable llamada numero e indicamos por medio de ‘:’ que tipo de dato es en este caso ‘int’ que nos indica que es un entero
        
        El archivo quedaría de la siguiente forma .
        </p>
        <pre>
            <code>
            Import flask  from Flask 
            from flask import request
            app = Flask(__name__)   
            
            @app.route(‘/Hola/’) 
            @app.route(‘/Hola/<nombre>/’)     
            @app.route(‘/Hola/<nombre>/<int:numero >’)     
            def Hola( nombre='valor por defecto',numero='otro valor por defecto'):
                return 'El parámetro es : {}  {}'. Format (nombre , numero)	  
            If __name__ == '_main_':
                app.run(debug = True , port = 6000)
    
            </code>    
        </pre>
        
       
        <p>
        Al escribir la ruta sería algo así :</p>
        <pre><code>http://localhost:6000/Hola/Pedro/1</code> </pre>
    </section>  

    <section class="main-section" id="Template">
        <header class="sub-titulos">Template</header>
        <p>
        Ahora trabajaremos con template, para trabajar con template y poder separar nuestra paginas HTML del resto del código y archivos Python, primero deberemos crear una nueva carpeta con el nombre ‘templates’ este nombre es por defecto y la carpeta debe estar en el mismo nivel que nuestro archivo de ejecución, dentro de la carpeta crearemos un archivo índex.html  con un código sencillo de hola mundo . ejemplo
        </p>
        <pre>
            <code>
                !Doctype=HTML
                <HTML>
                <HEAD>
                <tittle> Prueba flask</tittle>
                </HEAD>
                <BODY>
                <H4>Hola mundo</H4>
                </BODY>
                </HTML>
            </code>    
        </pre>
        
        <p>
        Y ahora para poder llamar este archivo HTML desde nuestra servidor hay que indicarlo en la ruta, pero primero deberemos importa una librería de flask que nos renderise la página tras cada llamada, esto se logra con la librería ‘render_template’ y dentro del método modificamos el return indicando por medio de la librería render_template() el nombre de nuestro archivo HTML. En este caso index.HTML
        </p>
        <pre>
            <code>
                Import flask  from Flask 
                from flask import render_template
                app = Flask(__name__)   
                
                @app.route('/') 
                def index():
                    return render_template(index.html)	  
                If __name__ == '_main_':
                    app.run(debug = True , port = 6000)
            </code>    
        </pre>
            
        <p>
        Esto ordena al programa buscar el archive index.HTML dentro de la carpeta por defecto ‘ templates’ y renderizarla en nuestro navegador . si por algún motivo necesitáramos cambiar el nombre donde se alojan las paginas, esta se logra indicándole al objeto el nuevo nombre que recibirá la carpeta modificando el objeto instanciado ,
        </p>
        <pre>
            <code>
                app = Flask(__name__, template_folder ="Nuevo_nombre_de_carpeta") 
            </code>    
        </pre>
        
        <p>
            Y renombrando la carpeta para que funcionen los cambios.
        </p>  
        
        
    </section>

    <section class="main-section" id="Etiquetas_en_template">
        <header class="sub-titulos">Etiquetas en template</header>
        
        <p>
        Ahora veremos cómo usar los datos y mandarlos desde flask dentro de un archivo HTML, mediante etiquetas que nuestro manejador jinja2 puede reconocer para crear los render de la página web.
        Primero deberemos indicar a la fusión decorador nuestra ruta del template más la variable que se recibirá, posteriormente en la función Index escribir el parámetro que va a recibir , y luego colocar en nuestro return el nombre de la variable con la que se va a designar en nuetros templete o archivo HTML en este caso la variable 
       </p>

       <pre>
        <code>
                Import flask from Flask 
                from flask import render_template
                app = Flask(__name__)   
                
                @app.route('/index/<name>') 
                def index(name= 'Richardo'):
                    return render_template(index.html, nombre = name)	  
                If __name__ == '_main_':
                    app.run(debug = True , port = 6000)      
        </code>    
       </pre>
        <p>
        Ahora nuestro template recibirá la nueva variable, con el motor jinja2 manejara nuestro template para que pueda ver nuestra nueva variable Jinaja2 usa las dobles llaves de apertura y de cierre para asignar la variables. ‘{{ }}’ , en este caso colocaremos la variable dentro de nuestro template de la siguiente forma.
        </p>
        <pre>
        <code>
            <HTML>
                <HEAD>
                <tittle> Prueba flask</tittle>
                </HEAD>
                <BODY>
                <H4>Hola mundo</H4>
                <H4>{{ nombre }}</H4>  <!-- aqui va nuestra nueva variable dentro de {{}}-->
                </BODY>
                </HTML>
        </code>    
        </pre>
                
        <p>
        De esta forma podremos mandar a nuestros template diferentes tipos de variable, como str , int, tuplas, list, booleand , etc. Por ejemplo . 
        
        Cambiado en nuestra función lo siguiente
        </p>
        <pre>
            <code>
                def index(name= 'Richardo'):
                    edad = 20
                    lista_ejemplo = [1,2,3,4,5,6,7,8,9]
                    return render_template(index.html, name = name ,age = edad, mylis= lista_ejemplo)
            </code>     
        </pre>
                
        <p>
            Cambiando en nuestro template
        </p>
        
        <pre>
            <code>
                <H4>Hola mundo</H4>
                <H4>{{ name }}</H4>  <!-- aquí va nuestra nueva variable dentro de {{}}-->
                <H4>{{age}}</H4>
                <H4>{{mylist}}</H4>
            </code>    
        </pre>
        
        <p>
        Y así recibiremos los datos en el template. También podremos hacer operación tanto de comparación como de decisiones, condicionales o siclos. para esto usaremos el signo llaves y porcentaje para encasillar estos procesos { % operación %}  , ejemplo de código
        </p>
        <pre>
            <code>
                <H4>Hola mundo</H4>
                <H4>{{ name }}</H4> 
                <H4>{{age}}</H4>
                <H4>{{mylist}}</H4>         
                { % if age > 15 %}
                    <p> es mayor de edad. <p>
                { % endif %}
            </code>    
        </pre>
                
        <p>
        Al pasarle una edad para comprar se ejecutara la comparación, si es mayor de edad saldrá el mensaje de lo contrario no aparecerá nada, hay que notar que la condicional hay que indicar donde comienza hasta donde termina con el { % endif %}.
        </p>
        <pre>
            <code>
                { % for ítem in mylist %}
                    <p> {{item}} <p>
                { % endfor %}
            </code>    
        </pre>
              
    </section>
    
    <section class="main-section" id="Herencias_de_plantillas">
        <header class="sub-titulos">Herencias de plantillas</header>
    
        <p>Una de las ventajas de Utilizar flask con el motor jinja2 es que podemos heredar o reusar template y ahorrar en código. Esto nos ayudad a reusar código y optimizar el tiempo de trabajo, para ello debemos crear un nueva carpeta con nombre ‘base’ dentro de la carpeta de  template, y dentro de la carpeta base crearemos un archivo en este ejemplo usaremos en nombre base.HTML 
        Dentro de este archivo colocaremos todo lo que se ira repitiendo constantemente en todo nuestros template. Ejemplo
        </p> 
<!--     corregir para que se vea las instrucciones HTML
        <pre>
            <code>
                base.HTML
                <span>
                    <span><</span>
                    "HTML"
                    <span>></span>
                </span><br>
                <HEAD>
                <tittle> Prueba flask</tittle>
                </HEAD>
                <BODY>
                <H4>Bienvenido a la presentacion de flask</H4>
                    {% block content %}
                    {%endblock%}
                </BODY>
                </HTML>
            </code>    
        </pre>
-->        
        <p>
        I tendremos una archivo index.Html fuera de las carpetas esta será nuestro template que contendrá la información , para esto escribiremos dentro del archivo index.html lo siguiente 
        </p>
        <pre>
            <code>
                {% extends 'base/base.html'%}
                {% block content %} 
                    <p> Esto es parte del index </p>
                    <p> {{ name }} </p>
                {% endblock %}    
            </code>    
        </pre>
        
        <p>
        Con esto podremos ver como nuestra plantilla usar un template base y a su bes el template donde se encuentra la información.                         
        </p>
    </section>

   </main>
</body>
</html>