
body{
    background-color: darkgray;
}

p{
    font-family: 'Heebo';
    text-justify: auto;

}

.main-section{
    margin: 10px 10px 10px 10px;
    background-color: cornsilk;
    width: auto;
}


/*   usar media  para mejorar el uso de la pagina en otros dispositivos*/

@media/*colocar restriciones */ {         /*introduccion a medios para responsive desing*/


}  
