body{
    background-color: darkgray;
}

p{
    font-family: 'Heebo';
    text-justify: auto;
}

.sub-titulos{
    font-size: 1.5rem;
    padding: 15px 10px 15px 10px;
}

.main-section{
    margin: 10px 10px 10px 220px;
    padding: 20px 50px 50px 100px;
    background-color: cornsilk;
    width: auto;
    height: auto ;
    border-radius: 15px;
}

#navbar{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    display: block;
}

#cab-intro{
    position: fixed;
    text-align: center;
    font-size: 1.8em;
    display: block;
    background-color: #EB94D6;
    font-family: 'Acme';
    width: 200px;
}

#navbar ul {
    position: fixed;
    list-style-type: none;
    margin-top: 100px;
    padding: 30px;
    width: 160px;
    overflow: auto;
    background-color: #EB94D6;
    border-radius: 0px 0px 15px 15px;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 20px 5px 20px 5px ;
    text-align: center;
    border: solid 1px #31142b ;
    font-family: 'Acme';
    font-size: 20px;
    cursor: pointer; 
}

#navbar ul li a:hover{
    background-color: #c494eb;
}

/* bloques donde estan los codigos de ejemplo*/
pre {
    background-color: #362d2d4d; 
    border-radius: 15px;   
}


@media only screen and (max-width: 800px){         /*introduccion a medios para responsive desing*/

    #main-doc{

        margin-top: 200px;
    }

    
    #navbar{
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 300px;
        display: inline-block;
    }
    #cab-intro {
        width: 100%;
        height: 20px;
        text-align: center;
        display:block;
        padding: 15px 5px 15px 5px;
        background-color: #EB94D6;
    }
    #navbar ul {
        
        margin-block-start: 50px;
        display:block;
        width: 100%;
        border: 1px solid;
        height: 207px;
        overflow-x:hidden;
        overflow-y: auto;
    }


}  
